.example-form { 
  width: 100%; 
} 
.example-full-width { 
  width: 100%; 
}
#editar {
  display: block;
}
#colecoes tr:nth-child(even){
  background-color: #e7e7e7;
}
#colecoes tr:hover {
  background-color: rgb(74, 112, 216);
  color: white;
}
#colecoes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: white;
}
#colecoes {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-top: 30px;
  width: 80%;
  border-spacing: 0px;
  margin: 30px auto;
  border-radius: 15px;
  overflow: hidden;
}

#colecoes td, #colecoes th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
#id, #config {
  background-color: #7246da;
}
#colecao {
  background-color: #3ba771;
}
#delete:hover, #create:hover {
  background-color: white;
  color: black;
}