<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Adicionar novo usuário
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-form-field  class="example-full-width" appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput placeholder="Digite aqui.." [(ngModel)]="name" name="name" required>
    </mat-form-field>
    <mat-form-field  class="example-full-width" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Digite aqui.." [(ngModel)]="username" name="username" required>
    </mat-form-field>
    <mat-form-field  class="example-full-width" appearance="outline">
      <mat-label>Senha</mat-label>
      <input matInput placeholder="Digite aqui.." type="password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
    <mat-form-field  class="example-full-width" appearance="outline">
      <mat-label>Confirmação da senha</mat-label>
      <input matInput placeholder="Digite aqui.." type="password" [(ngModel)]="cpassword" name="cpassword" required>
    </mat-form-field><br>
    <button mat-raised-button color="primary" matSuffix (click)="add()">Confirmar</button>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState2 = true"
                       (closed)="panelOpenState2 = false">
  </mat-expansion-panel>
</mat-accordion><br>

<mat-panel-title class="botao">
 <button mat-stroked-button matSuffix (click)="cancel()">Fechar</button>
</mat-panel-title>

